/* latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  src: url("./fonts/Nunito-SemiBoldItalic.ttf") format('truetype'),
        url("./fonts/Nunito-SemiBoldItalic.woff2") format('woff2');
}
/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  src: url("fonts/Nunito-SemiBoldItalic.ttf") format('truetype'),
        url("./fonts/Nunito-SemiBoldItalic.woff2") format('woff2');
}
/* latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  src: url("fonts/Nunito-BoldItalic.ttf") format('truetype'),
        url("./fonts/Nunito-BoldItalic.woff2") format('woff2');
}
/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  src: url("fonts/Nunito-BoldItalic.ttf") format('truetype'),
        url("./fonts/Nunito-BoldItalic.woff2") format('woff2');
}
/* latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  src: url("fonts/Nunito-SemiBold.ttf") format('truetype'),
        url("./fonts/Nunito-SemiBold.woff2") format('woff2');
}
/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  src: url("fonts/Nunito-SemiBold.ttf") format('truetype'),
        url("./fonts/Nunito-SemiBold.woff2") format('woff2');
}
/* latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  src: url("fonts/Nunito-Bold.ttf") format('truetype'),
        url("./fonts/Nunito-Bold.woff2") format('woff2');
}
/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  src: url("fonts/Nunito-Bold.ttf") format('truetype'),
        url("./fonts/Nunito-Bold.woff2") format('woff2');
}

a {
  color: #1772d0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

body,
td,
th,
tr,
p,
a {
  font-family: 'Nunito', sans-serif;
  font-size: 20px
}

strong {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
}

heading {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
}

papertitle {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: 700
}

name {
  font-family: 'Nunito', sans-serif;
  font-size: 32px;
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}